<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
          
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  
  </system.web>
  
  <appSettings>
 
    <add key="ConnectionString" value="server=192.168.5.204;user id=root; password=123456;pooling=false;database=cns;Respect Binary Flags=false;"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
       
        <behavior name="WebApplication15.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebApplication15.Service1">
        <endpoint address="" behaviorConfiguration="WebApplication15.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebApplication15.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
